@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600&display=swap');
.container{
    max-width: 1024px;
    margin: 25px auto;
}
body{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #454B73;
}
.header{
    display: flex;
    padding: 20px 50px;
    background: url('assets/svg/threeangle.svg') 0 0 no-repeat;
}
h1{
    font-weight: 600;
}
.header img{
    border-radius: 50%;
    width: 200px;
}
